<main>

<!-- Event Div -->
<div class="row">
  <div class="col s12 m7">
    <div class="card event-card z-depth-5">
      <div class="card-image image-container">
        {{!-- Event Image  --}}
        {{#if events.img_url}}
        <img id="event-image" src={{events.img_url}}>
        {{!-- {{/if}} --}}
        {{else}}
        <img id="event-image" src="/assets/images/wall-graffiti.jpg">
        {{/if}}
        {{!-- Event Title --}}
        <span class="card-title" id="title" style="z-index: 2">{{events.title}}</span>
      </div>
      <div class="card-content">
        {{!-- Cause Tag --}}
        <div class="chip right" style="margin-bottom: 50px; margin-left: 50px">{{events.Cause.name}}</div>
        <!-- Date -->
        <h5 id='date' style="font-weight:bold;font-size: 26px"><span style="color: #308280">Date: </span> 
        <span style="font-weight: normal; font-size: 20px">{{events.date}}</span></h5>

        {{!-- Time --}}
        <h5 id='time' style="font-weight:bold;font-size: 26px;"><span style="color: #308280">Time: </span> 
        <span style="font-weight: normal; font-size: 20px">{{events.time}}</span></h5>
        {{!-- Number of Attendees --}}
        <h8 id='date' style="font-weight:bold;font-size: 26px"><span style="color: #308280">Attendees: </span>
        <span style="font-weight: normal; font-size: 20px">{{attendees}}</span></h8>
        {{!-- Event Description --}}
        <p style="font-size: 20px; padding-top: 15px">{{events.description}}</p>
        {{!-- Location --}}
        <h6 class="right-align" style="font-size: 20px;padding-top: 15px"><span style="font-weight:bold;font-size: 26px; color:#308280">Location:</span><br>
        <span class="address">
        {{!-- Location Name --}}
        {{#if events.location_name}} 
        {{events.location_name}}
        <br>
        {{/if}}
        {{!-- Street Address --}}
        {{events.location_street}}, 
        {{!-- City --}}
        {{events.location_city}}, 
        {{!-- State --}}
        {{events.location_state}}
        {{!-- Zipcode --}}
        {{events.location_zip}}</span></h6>
      </div>
    {{!-- Join Link --}}
    <div class="card-action" style="font-size:18px;cursor: pointer"><a class="joinBtn" data-id="{{events.id}}">Join Event</a></div>
    </div>
  </div>
</div>
          
<!-- Footer -->
{{!-- <footer class="page-footer" style="background-color:#43b5b1">
  <div class="footer-copyright" >
    <!-- Copyright -->
    <div class="container" style="font-family: 'Rubik', sans-serif;">
    © 2018 The A Team
    <!-- Repo Link -->
    <a class="grey-text text-lighten-4 right" href="#!" style="font-family: 'Rubik', sans-serif;">GitHub Repo</a>
    </div>
  </div>
</footer> --}}
