<div class="row center">
<div class="handlebars-events card horizontal hoverable">
<div class="card-stacked">
  <div class="card-content">
    <!-- Title, Location, and Cause -->
    <h4>{{title}} | <div style="margin-left: 20px;margin-bottom:20px; margin-top: 10px" class="chip right cause" value="{{CauseId}}">{{Cause.name}}</div><span class="location"> {{location_city}}, {{location_state}}</span></h4>
    <!-- Date and Time -->
    <h5 id='date'>Date: {{date}} @ <span id='time'> {{time}}</span> </h5>
    <!-- Description -->
    <p>{{description}}</p>
    <!-- Address -->
    <h6 class="right-align">Location: <br><span class="address">
      {{#if location_name}} 
      {{location_name}} <br>
      {{/if}}
      {{location_street}}, {{location_city}}, {{location_state}} {{location_zip}}</span></h6>
  </div>
  <div class="card-action">
    <a href="/event/{{id}}">More Info</a>
  </div>
</div>
</div>
</div>
